{{>main/header}}

<!-- index-->
<section class="masthead">
    <div class="container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-end">
                <h1 class="text-white font-weight-bold">AI 4반 12조<br>AI 응급실 매칭 서비스</h1>
                <hr class="divider" />
            </div>
            <div class="col-lg-8 align-self-baseline">
                    <p class="text-white-75 mb-5">안녕하세요님. <br> 도움이 필요하시다면 아래 버튼을 눌러 구조요청 부탁드립니다.</p>
                    <p class="text-white-75 mb-5">안녕하세요 사용자 님. <br> 도움이 필요하시다면 아래 버튼을 눌러 구조요청 부탁드립니다.</p>
            </div>
        </div>
    </div>
</section>

{{>main/footer}}