{{>main/header}}

<style>

</style>

<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Products</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">Products</li>
            </ol>

            <!-- 상단 데이터 요약 카드 바 -->
            <div class="row">
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-card text-black mb-4">
                        <div class="card-body">가용 제품</div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <h3 id="availableCount">{{availableCount}} 개</h3>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6">
                    <div class="card bg-card text-black mb-4">
                        <div class="card-body">재고 부족 제품</div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <h3 id="outOfStockCount">{{outOfStockCount}} 개</h3>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6">
                    <div class="card bg-card text-black mb-4">
                        <div class="card-body">AI 가용 제품</div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <h3 id="AICount">{{AICount}} 개</h3>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6">
                    <div class="card bg-card text-black mb-4">
                        <div class="card-body">서비스 종료 제품</div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <h3 id="discontinuedCount">{{discontinuedCount}} 개</h3>
                        </div>
                    </div>
                </div>




            </div>

            <!-- Products 테이블 -->
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    My Products
                </div>
                <div class="card-body">

                    <div class="button-container mb-3" style="display: flex; align-items: center; gap: 10px;">
                        <div style="flex: 1; display: flex; align-items: center; gap: 10px; justify-content: flex-end;">
                            <form method="GET" action="/products" style="display: flex; align-items: center; gap: 5px;">
                                <!-- 검색어 -->
                                <input type="text" class = "form-control" name="search" id="customSearch" placeholder="검색어를 입력하세요"
                                       style="padding: 5px; width: 200px;" value="{{search}}">

                                <!-- 제출 버튼 -->
                                <button type="submit" class = "btn btn-custom-select btn-sm">검색</button>
                            </form>

                        </div>
                        <div>
                            <!-- 신규 및 삭제 버튼 -->
                            <a href="/products/detail/create" class="btn btn-custom-create btn-sm" id="createButton">
                                <i class="fas fa-plus-circle"></i> 신규
                            </a>
                            <button class="btn btn-custom-delete btn-sm" id="deleteButton">
                                <i class="fas fa-trash-alt"></i> 삭제
                            </button>
                        </div>
                    </div>

                    <table id="datatablesSimple">
                        <thead>
                        <tr>
                            <th></th>
                            <th>ID</th>
                            <th>제품명</th>
                            <th>제품군</th>
                            <th>원가</th>
                            <th>딜러가</th>
                            <th>정찰가</th>
                            <th>상태</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#pagination.contents}}
                            <tr data-index="{{productId}}">
                                <td><input type="checkbox" class="select-row" value="{{productId}}"></td>
                                <td>{{productId}}</td>
                                <td><a href="/products/detail/{{productId}}">{{productName}}</a></td>
                                <td>{{productFamily}}</td>
                                <td data-price="{{fixedPrice}}">{{fixedPrice}}</td>
                                <td data-price="{{dealerPrice}}">{{dealerPrice}}</td>
                                <td data-price="{{costPrice}}">{{costPrice}}</td>
                                <td>{{productCondition}}</td>
                            </tr>
                        {{/pagination.contents}}
                        </tbody>
                    </table>


                    <div class="pagination justify-content-center">
                        <!-- 이전 버튼 -->
                        {{#pagination.hasPreviousPage}}
                            <button onclick="window.location.href='/products?page={{pagination.previousPage}}&size=10&search={{search}}&sortColumn={{sortColumn}}&sortDirection={{sortDirection}}'">
                            이전
                            </button>
                        {{/pagination.hasPreviousPage}}

                        <!-- 페이지 번호 버튼 -->
                        {{#pagination.pageNumbers}}
                            <button
                                    onclick="window.location.href='/products?page={{page}}&size=10&search={{search}}&sortColumn={{sortColumn}}&sortDirection={{sortDirection}}'"
                            class="{{#isActive}}active{{/isActive}}">
                            {{displayPage}}
                            </button>
                        {{/pagination.pageNumbers}}

                        <!-- 다음 버튼 -->
                        {{#pagination.hasNextPage}}
                            <button onclick="window.location.href='/orders?page={{pagination.nextPage}}&size=10&search={{search}}&sortColumn={{sortColumn}}&sortDirection={{sortDirection}}'">
                            다음
                            </button>
                        {{/pagination.hasNextPage}}
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script>
        // CRUD 메시지
        {{#message}}
            alert("{{message}}");
        {{/message}}
        document.addEventListener("DOMContentLoaded", function () {
     // 모든 data-price 요소 처리
     document.querySelectorAll("td[data-price]").forEach(function (element) {
         const rawPrice = element.getAttribute("data-price"); // data-price 속성에서 데이터 읽기
         if (rawPrice) {
             const parsedPrice = parseFloat(rawPrice); // 지수 표기법 숫자로 변환
             if (!isNaN(parsedPrice)) {
                 // 원화 포맷 적용
                 const formattedPrice = new Intl.NumberFormat('ko-KR', {
                     style: 'currency',
                     currency: 'KRW',
                 }).format(parsedPrice);

                 element.textContent = formattedPrice; // 변환된 값 적용
             }
         }
     });
                             var deleteButton = document.getElementById("deleteButton");
                             if (deleteButton) {
                                 deleteButton.addEventListener("click", function() {
                                     var selectedCheckboxes = document.querySelectorAll(".select-row:checked");
                                     var selectedIds = [];

                                     selectedCheckboxes.forEach(function(checkbox) {
                                         var productId = checkbox.value;
                                         selectedIds.push(productId);
                                     });

                                     if (selectedIds.length > 0) {
                                         var confirmDelete = confirm("선택한 항목들을 삭제하시겠습니까?");
                                         if (confirmDelete) {
                                             fetch("/products/detail/delete", {
                                                 method: "POST",
                                                 headers: {
                                                     "Content-Type": "application/json"
                                                 },
                                                 body: JSON.stringify({ ids: selectedIds })
                                             }).then(response => {
                                                 if (response.ok) {
                                                     alert("삭제되었습니다.");
                                                     window.location.href = "/products";
                                                 } else {
                                                     alert("삭제 중 오류가 발생했습니다.");
                                                 }
                                             }).catch(error => {
                                                 console.error("Error:", error);
                                                 alert("삭제 중 오류가 발생했습니다.");
                                             });
                                         }
                                     } else {
                                         alert("삭제할 항목을 선택해 주세요.");
                                     }
                                 });
                             }
                         });
    </script>
    {{>main/footer}}