{{>main/header}}

<style>
    .button-container {
        display: flex;
        justify-content: flex-end; /* 오른쪽 정렬 */
        gap: 10px; /* 버튼 간격 */
    }
    .btn-custom-create {
        background-color: #d4edda; /* 파스텔 그린 */
        border-color: #c3e6cb;
        color: #155724;
    }
    .btn-custom-delete {
        background-color: #f8d7da; /* 파스텔 레드 */
        border-color: #f5c6cb;
        color: #721c24;
    }
    .btn-custom-create:hover {
        background-color: #c3e6cb; /* 약간 어두운 그린 */
        border-color: #b1dfbb;
    }
    .btn-custom-delete:hover {
        background-color: #f5c6cb; /* 약간 어두운 레드 */
        border-color: #f1b0b7;
    }
    .btn-sm {
        font-size: 0.875rem; /* 버튼 폰트 크기 감소 */
        padding: 0.25rem 0.5rem; /* 패딩 감소 */
    }


    .container {
        background-color: #f8f9fa;
        padding: 20px;
        border-radius: 10px;
    }
    .col-form-label {
        font-weight: bold;
    }
    .btn-primary {
        background-color: #6c757d;
        border: none;
    }
    .btn-primary:hover {
        background-color: #5a6268;
    }


</style>





<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Opportunities</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">Opportunities</li>
            </ol>
            <div class="row">
            </div>
            <div class="row">
                <div class="col-xl-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-chart-area me-1"></i>
                            연간 계약 전환 현황
                        </div>
                        <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-chart-bar me-1"></i>
                            연간 계약 전환 누적 현황
                        </div>
                        <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
                    </div>
                </div>
            </div>



            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    Opportunities detail
                </div>
                <div class="card-body">
                    <table id="opportunities_detail">

                        <div class="button-container mb-3">
                            <button id="createButton" class="btn btn-custom-create btn-sm">
                                <i class="fas fa-plus-circle"></i> 신규
                            </button>
                            <button id="deleteButton" class="btn btn-custom-delete btn-sm">
                                <i class="fas fa-trash-alt"></i> 삭제
                            </button>
                        </div>

                        {{#opportunities}}

                            <form id="opportunityForm">
                                <div class="mb-3 row">
                                    <label for="createdDate" class="col-sm-2 col-form-label">생성일자:</label>
                                    <div class="col-sm-10">
                                        <input type="date" class="form-control" id="createdDate" value="{{createdDate}}">
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label for="targetCloseDate" class="col-sm-2 col-form-label">마감기한:</label>
                                    <div class="col-sm-10">
                                        <input type="date" class="form-control" id="targetCloseDate" value="{{targetCloseDate}}">
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label for="opportunityStatus" class="col-sm-2 col-form-label">기회상태:</label>
                                    <div class="col-sm-10">
                                        <select class="form-control" id="opportunityStatus">
                                            <option value="Qualification">Qualification</option>
                                            <option value="Needs Analysis">Needs Analysis</option>
                                            <option value="Proposal">Proposal</option>
                                            <option value="Negotiation">Negotiation</option>
                                            <option value="Closed(won)">Closed(won)</option>
                                            <option value="Closed(loss)">Closed(loss)</option>
                                            <option value="Pending">Pending</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label for="opportunityName" class="col-sm-2 col-form-label">기회 명:</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="opportunityName" value="{{opportunityName}}">
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label for="owner" class="col-sm-2 col-form-label">기회 담당자:</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="owner" value="">
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label for="successRate" class="col-sm-2 col-form-label">성공률:</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="successRate" value="{{successRate}}">
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label for="companyRevenue" class="col-sm-2 col-form-label">회사 매출:</label>
                                    <div class="col-sm-10">
                                        <input type="number" step="0.01" class="form-control" id="companyRevenue" value="{{companyRevenue}}">
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label for="region" class="col-sm-2 col-form-label">배송지역:</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="region" value="{{region}}">
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label for="customerEmployee" class="col-sm-2 col-form-label">고객사 담당자:</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="customerEmployee" value="{{customerEmployee}}">
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label for="product" class="col-sm-2 col-form-label">기회 제품:</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="product" value="">
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label for="quantity" class="col-sm-2 col-form-label">기회 수량:</label>
                                    <div class="col-sm-10">
                                        <input type="number" step="0.01" class="form-control" id="quantity" value="{{quantity}}">
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label for="expectedRevenue" class="col-sm-2 col-form-label">기회 매출:</label>
                                    <div class="col-sm-10">
                                        <input type="number" step="0.01" class="form-control" id="expectedRevenue" value="{{expectedRevenue}}">
                                    </div>
                                </div>
                                <div class="d-flex justify-content-end">
                                    <button type="submit" id="createButton" class="btn btn-custom-create btn-sm">
                                        <i class="fas fa-plus-circle"></i> 저장
                                    </button>
                                </div>
                            </form>

                        {{/opportunities}}





                    </table>
                </div>
            </div>




            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    Opportunities Status
                </div>
                <div class="card-body">
                    <table id="opportunities_status">


                        {{#opportunities}}
                            <tbody>

                            </tbody>
                        {{/opportunities}}
                    </table>
                </div>
            </div>




            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    Opportunities History
                </div>
                <div class="card-body">
                    <table id="opportunities_history">


                        {{#opportunities}}
                            <tbody>

                            </tbody>
                        {{/opportunities}}
                    </table>
                </div>
            </div>




            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    Opportunities Comment
                </div>
                <div class="card-body">
                    <table id="opportunities_comment">


                        {{#opportunities}}
                            <tbody>

                            </tbody>
                        {{/opportunities}}
                    </table>
                </div>
            </div>








        </div>
    </main>


    <script>
        {{#opportunities}}
        document.addEventListener("DOMContentLoaded", function() {
            // Mustache 템플릿에서 서버 데이터를 가져옴
            var opportunityStatus = "{{opportunityStatus}}";

        // 폼에 데이터 채우기
        document.getElementById("opportunityStatus").value = opportunityStatus;
        });
        {{/opportunities}}
    </script>



    {{>main/footer}}
