{{>main/header}}

<style>
    label {
        margin-right: 40px; /* label과 텍스트 사이의 간격을 설정 */
    }

    .form-group {
        border-bottom: 1px solid #ccc; /* 연한 회색 밑줄 */
        padding-bottom: 10px; /* 밑줄과 텍스트 간격을 설정 */
        margin-bottom: 13px;
        height: 35px;
    }

    .form-group label {
        width: 100px;  /* label의 고정 너비 */
        margin-right: 10px;  /* label과 span 사이의 간격 */
    }

    .form-group span {
        display: inline-block;
    }

</style>


<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Profile</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">profile</li>
            </ol>
            <div class="row">
            </div>
            <div class="row">
            </div>



            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    기본정보
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name">이름</label>
                                <span id="name">{{employee.employeeName}}</span> <!-- 텍스트를 여기에 넣기 -->
                            </div>
                            <div class="form-group">
                                <label for="department">부서</label>
                                <span id="department">{{employee.dept}}</span> <!-- 텍스트를 여기에 넣기 -->
                            </div>
                            <div class="form-group">
                                <label for="join-date">입사일</label>
                                <span id="join-date">{{employee.hireDate}}</span> <!-- 텍스트를 여기에 넣기 -->
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="position">직급</label>
                                <span id="position">{{employee.position}}</span> <!-- 텍스트를 여기에 넣기 -->
                            </div>
                            <div class="form-group">
                                <label for="team">팀</label>
                                <span id="team">{{employee.team}}</span> <!-- 텍스트를 여기에 넣기 -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

<!--            계정정보 부분-->
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    계정정보
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name">아이디</label>
                                <span id="name">{{employee.employeeId}}</span> <!-- 텍스트를 여기에 넣기 -->
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="department">비밀번호</label>
                                <span id="department" style="margin-right: 100px;">*****</span> <!-- 텍스트를 여기에 넣기 -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-end">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#passwordModal"
                        data-id="{{id}}">
                    비밀번호 수정
                </button>
            </div>
        </div>
    </main>

    <!-- 비밀번호 수정 모달 -->
    <div class="modal fade" id="passwordModal" tabindex="-1" aria-labelledby="passwordModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="passwordModalLabel">비밀번호 변경</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/password-edit" method="POST">
                        <input type="hidden" name="employeeId" id="modal-userId" value="">
                        <div class="mb-3">
                            <label for="current-password" class="form-label">기존 비밀번호</label>
                            <input type="password" class="form-control" name="existPassword" id="current-password" required>
                        </div>
                        <div class="mb-3">
                            <label for="new-password" class="form-label">새 비밀번호</label>
                            <input type="password" class="form-control" name="newPassword" id="new-password" required>
                        </div>
                        <div class="mb-3">
                            <label for="confirm-password" class="form-label">새 비밀번호 확인</label>
                            <input type="password" class="form-control" id="confirm-password" required>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                            <button type="submit" class="btn btn-primary">저장</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        const teamMapping = {
            "STRATEGY_CUST_SECTOR": "전략고객섹터담당",
            "STRATEGY_CUST_1": "전략고객1담당",
            "STRATEGY_CUST_2": "전략고객2담당",
            "PUBLIC_CUST_SECTOR": "공공고객섹터담당",
            "PUBLIC_CUST_1": "공공고객1담당",
            "PUBLIC_CUST_2": "공공고객2담당",
            "FINANCE_CUST_SECTOR": "금융고객섹터담당",
            "FINANCE_CUST_1": "금융고객1담당",
            "FINANCE_CUST_2": "금융고객2담당",
            "CORPORATE_SALES_PLANNING": "법인영업기획담당",
            "CORPORATE_CUST": "법인고객담당",
            "CORPORATE_RETAIL": "법인유통담당",
            "CORPORATE_SALES_SECTOR": "법인섹터담당"
        };

        const deptMapping = {
            "STRATEGY_DEPT": "전략고객본부",
            "PUBLIC_DEPT": "공공고객본부",
            "FINANCE_DEPT": "금융고객본부",
            "CORPORATE_DEPT": "법인영업본부"
        };

        const positionMapping = {
            "GENERAL_MANAGER": "본부장",
            "DEPARTMENT_HEAD": "부장",
            "TEAM_LEADER": "팀장",
            "ASSISTANT_MANAGER": "차장",
            "MANAGER": "과장",
            "ASSOCIATE": "대리",
            "JUNIOR": "주임",
            "STAFF": "사원"
        };




        // employee.team에 해당하는 값 (예: "STRATEGY_CUST_1")
        const employeeTeam = "{{employee.team}}"; // 서버에서 전달되는 값
        const employeeDept = "{{employee.dept}}"; // 서버에서 전달되는 부서값
        const employeePosition = "{{employee.position}}"; // 서버에서 전달되는 직급값


        // 팀 주석을 표시
        document.getElementById("team").textContent = teamMapping[employeeTeam] || "팀 정보 없음";
        document.getElementById("department").textContent = deptMapping[employeeDept] || "부서 정보 없음";
        document.getElementById("position").textContent = positionMapping[employeePosition] || "직급 정보 없음";




        // 모달이 열릴 때 이벤트 처리
        const passwordModal = document.getElementById('passwordModal');
        passwordModal.addEventListener('show.bs.modal', function (event) {
            // 버튼에서 data-id 속성을 가져옴
            const button = event.relatedTarget;
            const userId = button.getAttribute('data-id');

            // 숨겨진 input 필드에 userId 값을 설정
            const userIdInput = document.getElementById('modal-userId');
            userIdInput.value = userId;
        });
    </script>

    {{>main/footer}}
