{{>main/header}}

<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Account</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">Account</li>
            </ol>

            <!-- 상단 데이터 요약 카드 바 -->
            <div class="row">
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-card text-black mb-4">
                    <div class="card-body">전체 계정</div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <h3 id="totalAccounts">{{totalAccounts}} 건</h3>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6">
                    <div class="card bg-card text-black mb-4">
                    <div class="card-body">담당 계정</div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <h3 id="currentEmployeeAccountCount">{{currentEmployeeAccountCount}}건</h3>
                        </div>
                    </div>
                </div>

                <!--                계정 상태 = Active , Closed  모두 포함  -->
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-card text-black mb-4">
                    <div class="card-body">올해 생성된 모든 계정</div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <h3 id="accountsThisYear"> {{accountsThisYear}} 건 </h3>
                        </div>
                    </div>
                </div>

                <!--                계정 상태 = Active , Closed  모두 포함  -->
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-card text-black mb-4">
                    <div class="card-body">작년에 생성된 모든 계정</div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <h3 id="accountsLastYear"> {{accountsLastYear}} 건</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

                    <!-- 차트 -->
                    <div class="col-xl-6">
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-chart-area me-1"></i>
                                 연간 계정 현황
                        </div>
                        <div class="card-body"><canvas id="accountReadChart" width="100%" height="40"></canvas></div>
                    </div>
                </div>

                <div class="col-xl-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-chart-bar me-1"></i>
                                    연간 계정 누적 현황
                        </div>
                        <div class="card-body"><canvas id="accountReadBar" width="100%" height="40"></canvas></div>
                         </div>
                     </div>
                </div>


            <!-- 계정 테이블 -->
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    My Account
                </div>
                <div class="card-body">
                    <div class="button-container mb-3" style="display: flex; align-items: center; gap: 10px;">
                        <div style="flex: 1; display: flex; align-items: center; gap: 10px; justify-content: flex-end;">

                            <!-- 검색 폼 추가 -->
                            <form id="searchForm" method="get" action="/account" class="mb-3">
                                <input type="text" id="searchInput" name="keyword" value="{{keyword}}"
                                       placeholder="검색어를 입력하세요" class="form-control" style="padding: 5px; width: 200px;">
                            </form>
                        </div>
                        <div class="button-container mb-3">
                            <a href="/account/detail/create" class="btn btn-custom-create btn-sm" id="createButton">
                                <i class="fas fa-plus-circle"></i>신규
                            </a>

                            <button class="btn btn-custom-delete btn-sm" id="deleteButton">
                                <i class="fas fa-trash"></i>삭제
                            </button>
                        </div>
                    </div>

                    <table id="datatablesSimple">
                        <thead>
                        <tr>
                            <th></th>
                            <th>ID</th>
                            <th>생성 일자</th>
                            <th>계정 이름</th>
                            <th>계정 상태</th>
                            <th>대표 전화</th>
                            <th>배송지</th>
                        </tr>
                        </thead>
                        <tbody>

                        {{#paging}}
                            <tr data-index="{{accountId}}">
                                <td><input type="checkbox" class="select-row" value="{{accountId}}"></td>
                                <td>{{accountId}}</td>
                                <td>{{accountCreatedDate}}</td>
                                <td><a href="/account/detail/{{accountId}}">{{accountName}}</a></td>
                                <td>{{accountStatus}}</td>
                                <td>{{contact}}</td>
                                <td>{{address}}</td>
                            </tr>
                        {{/paging}}
                        </tbody>
                    </table>

                    <!-- 페이징처리 시작 -->
                    <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-center">
                            <li class="page-item {{^paging.hasPrevious}}disabled{{/paging.hasPrevious}}">
                                <a class="page-link" href="?page=1&keyword={{keyword}}" aria-label="First">
                                    <span aria-hidden="true">&laquo;&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item {{^paging.hasPrevious}}disabled{{/paging.hasPrevious}}">
                                <a class="page-link" href="?page={{#paging.hasPrevious}}{{paging.number}}{{/paging.hasPrevious}}{{^paging.hasPrevious}}1{{/paging.hasPrevious}}&keyword={{keyword}}" aria-label="Previous"> <!-- 추가: &keyword={{keyword}} -->
                                <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            {{#pageNumbers}}
                                <li class="page-item {{#isCurrentPage}}active{{/isCurrentPage}}">
                                    <a class="page-link" href="?page={{number}}&keyword={{keyword}}">{{number}}</a>
                                </li>
                            {{/pageNumbers}}
                            <li class="page-item {{^paging.hasNext}}disabled{{/paging.hasNext}}">
                                <a class="page-link" href="?page={{#paging.hasNext}}{{nextPage}}{{/paging.hasNext}}{{^paging.hasNext}}{{totalPages}}{{/paging.hasNext}}&keyword={{keyword}}" aria-label="Next"> <!-- 추가: &keyword={{keyword}} -->
                                <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                            <li class="page-item {{^paging.hasNext}}disabled{{/paging.hasNext}}">
                                <a class="page-link" href="?page={{totalPages}}&keyword={{keyword}}" aria-label="Last">
                                <span aria-hidden="true">&raquo;&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </main>

    <script>

        // CRUD 메시지
        {{#message}}
            alert("{{message}}");
        {{/message}}


        // 로그인한 직원 계정 수
       document.addEventListener('DOMContentLoaded', function() {
    var currentEmployeeAccountCount = {{currentEmployeeAccountCount}};
    document.getElementById('accountByEmployee').textContent = currentEmployeeAccountCount;
});


        // 검색
       document.addEventListener('DOMContentLoaded', function() {
       var searchInput = document.getElementById('searchInput');

       // 페이지 로드 시 검색 입력 필드에 포커스
       searchInput.focus();

       // 커서를 입력 필드의 끝으로 이동
       var inputValue = searchInput.value;
       searchInput.value = '';
       searchInput.value = inputValue;

       // 입력 이벤트 리스너 추가
       searchInput.addEventListener('input', function() {
           clearTimeout(this.debounceTimer);
           this.debounceTimer = setTimeout(() => {
               document.getElementById('searchForm').submit();
           }, 550);
       });
   });

               document.addEventListener("DOMContentLoaded", function() {
                   var deleteButton = document.getElementById("deleteButton");
                   if (deleteButton) {
                       deleteButton.addEventListener("click", function() {
                           var selectedCheckboxes = document.querySelectorAll(".select-row:checked");
                           var selectedIds = [];

                           selectedCheckboxes.forEach(function(checkbox) {
                               var accountId = checkbox.value;
                               console.log("Account ID:", accountId); // 로그 추가
                               selectedIds.push(accountId);
                           });

                           if (selectedIds.length > 0) {
                               var confirmDelete = confirm("선택한 항목들을 삭제하시겠습니까?");

                               if (confirmDelete) {
                                   console.log("Deleting IDs:", selectedIds); // 로그 추가
                                   fetch("/account/detail/delete", {
                                       method: "POST",
                                       headers: {
                                           "Content-Type": "application/json"
                                       },
                                       body: JSON.stringify({ ids: selectedIds })
                                   }).then(response => {
                                       if (response.ok) {
                                           alert("삭제되었습니다.");
                                           // 서버 응답이 성공적이면 리다이렉트 수행
                                           window.location.href = "/account";
                                       } else {
                                           alert("삭제 중 오류가 발생했습니다.");
                                       }
                                   }).catch(error => {
                                       console.error("Error:", error);
                                       alert("삭제 중 오류가 발생했습니다.");
                                   });
                               }
                           } else {
                               alert("삭제할 항목을 선택해 주세요.");
                           }
                       });
                   }
               });
    </script>

    <script src="/assets/demo/account-read-chart.js"></script>
    <script src="/assets/demo/account-read-bar.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.in.js"></script>

{{>main/footer}}