{{>main/header}}

<style>



</style>


<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Alarm Logs</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">Alarm Logs</li>
            </ol>


            <!-- 로그 테이블 -->
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    Logs
                </div>
                <div class="card-body">
                    <div class="button-container mb-3" style="display: flex; align-items: center; gap: 10px;">
                        <div style="flex: 1; display: flex; align-items: center; gap: 10px; justify-content: flex-end;">
                            <form method="GET" action="/leads" style="display: flex; align-items: center; gap: 5px;">
                                <!-- 검색어 -->
                                <input type="text" class="form-control" name="search" id="customSearch" placeholder="검색어를 입력하세요"
                                       style="padding: 5px; width: 200px;" value="">

                                <button type="submit" class = "btn btn-custom-select btn-sm">검색</button>
                            </form>

                        </div>

                        <div>
                            <!-- update 버튼 (읽음 처리) -->
                            <button class="btn btn-custom-update btn-sm" id="updateButton">확인</button>
                        </div>
                    </div>
                    <table id="datatablesSimple">

                        <thead>
                        <tr>
                            <th></th>
                            <th>Id</th>
                            <th>Date</th>
                            <th>From</th>
                            <th>Alarm contents</th>
                            <th>Is Read</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr>
                            <td><input type="checkbox" class="select-row" value="" ></td>
                            <td>4</td>
                            <td>2025-01-27 11:22:14</td>
                            <td>System</td>
                            <td>Opportunities [삼성전자 RPA 납품 건]에 새로운 댓글이 있습니다.</td>
                            <td>안읽음</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" class="select-row" value="" ></td>
                            <td>3</td>
                            <td>2025-01-26 17:26:32</td>
                            <td>System</td>
                            <td>비밀번호를 변경하지 않은지 90일이 지났습니다. 비밀번호를 변경하시기 바랍니다.</td>
                            <td>안읽음</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" class="select-row" value="" ></td>
                            <td>2</td>
                            <td>2025-01-24 12:54:10</td>
                            <td>System</td>
                            <td>Oders [삼성전자 RPA 납품 건]의 심의상태가 [승인]으로 변경되었습니다.</td>
                            <td>읽음</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" class="select-row" value="" ></td>
                            <td>1</td>
                            <td>2025-01-23 10:41:11</td>
                            <td>System</td>
                            <td>Contracts [카카오 UTM 납품 건]의 심의상태가 [반려]으로 변경되었습니다.</td>
                            <td>읽음</td>
                        </tr>

                        </tbody>

                    </table>


                </div>
            </div>
        </div>
    </main>


    <script>




    </script>


{{>main/footer}}