{{>main/header}}

<style>



</style>




<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Chatbot Logs</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">Chatbot Logs</li>
            </ol>

            <!-- 로그 테이블 -->
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    Logs
                </div>
                <div class="card-body">
                    <div class="button-container mb-3" style="display: flex; align-items: center; gap: 10px;">
                        <div style="flex: 1; display: flex; align-items: center; gap: 10px; justify-content: flex-end;">
                            <form method="GET" action="/chatbot_logs" style="display: flex; align-items: center; gap: 5px;">
                                <!-- 검색어 -->
                                <input type="text" class="form-control" name="search" id="customSearch" placeholder="User ID를 입력하세요"
                                       style="padding: 5px; width: 200px;" value="{{search}}">

                                <button type="submit" class = "btn btn-custom-select btn-sm">검색</button>
                            </form>

                        </div>

                    </div>
                    <table id="datatablesSimple">

                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Date</th>
                            <th>User_ID</th>
                            <th>Classification</th>
                            <th>Table</th>
                            <th>Requests</th>
                            <th>User Response</th>
                            <th>System Response</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#pagination.contents}}
                            <tr data-index="{{logsId}}">
                                <td>{{logsId}}</td>
                                <td>{{logDate}}</td>
                                <td>{{userId}}</td>
                                <td>{{crudOperations}}</td>
                                <td>{{tableName}}</td>
                                <td>{{requests}}</td>
                                <td>{{userResponse}}</td>
                                <td>{{systemResponse}}</td>
                            </tr>
                        {{/pagination.contents}}
                        {{^pagination.contents}}

                        {{/pagination.contents}}
                        </tbody>

                    </table>
                    <div class="pagination justify-content-center">
                        <!-- 이전 버튼 -->
                        {{#pagination.hasPreviousPage}}
                            <button onclick="window.location.href='/chatbot_logs?page={{pagination.previousPage}}&size=20&search={{search}}'">
                            이전
                            </button>
                        {{/pagination.hasPreviousPage}}

                        <!-- 페이지 번호 버튼 -->
                        {{#pagination.pageNumbers}}
                            <button
                                    onclick="window.location.href='/chatbot_logs?page={{page}}&size=20&search={{search}}'"
                            class="{{#isActive}}active{{/isActive}}">
                            {{displayPage}}
                            </button>
                        {{/pagination.pageNumbers}}

                        <!-- 다음 버튼 -->
                        {{#pagination.hasNextPage}}
                            <button onclick="window.location.href='/chatbot_logs?page={{pagination.nextPage}}&size=20&search={{search}}'">
                            다음
                            </button>
                        {{/pagination.hasNextPage}}
                    </div>

                </div>
            </div>
        </div>
    </main>


    <script>




    </script>

    <script src="/assets/demo/leads-read-chart.js"></script>
    <script src="/assets/demo/leads-read-bar.js"></script>

{{>main/footer}}